# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / Resharper
.idea/
*.sln.iml

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini

# Publish output
publish/

# Local test/build logs
*.log
